@charset "UTF-8";

body {
    display:inline-block;
    margin: 5;
    padding: 0;
    font-weight:500;
}

h1,h2,h3 {
    margin-top: 5;
}

p {
    margin-top: 0;
    line-height: 1;
}

header {
    min-width: 1000px;
    background-color: #ffcccc;
}

#wrapper {
    display: flex;
}

#main {
    min-width: 700px;
    background-color: #ccffcc;
}

#menu {
    min-width: 300px;
    background-color: #ccccff;
}

footer {
    min-width: 1000px;
    background-color: #ffccff;
}
